/*CSS RESET*/
*{
   /* box-sizing:border-box;
    margin:0;
    padding:0;
    max-width:100%;
    border:1px solid grey;*/
  }
/* general styles */
html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;	
    background-color: #344e41;
}
nav{
    width:100%;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    margin-top:2%;
}

/* top image and nav */
.top-image img {	
    height:60rem;	
    object-fit: cover;	
    display: block;	
    margin-top: 1%;	
    margin-left: auto;	
    margin-right: auto;
    border-radius: 2%;	
}
button{
    border: none;
    font-weight: normal;
    font-size: xx-large;
    background-color: #344e41;
    color: #dad7cd;
}
button:hover{
    font-weight: lighter;
    opacity: 60%;
}
/*body info section*/
.body-context{
    text-align: center;
    color:#dad7cd;
    margin:2% auto;
}
.info img{
    height:50rem;		
    object-fit: cover;
    display:block;
    border-radius: 2% 2% 0 2%;
}
.info{
    display:flex;
    flex-flow:nowrap;
    align-content: space-between;
    text-align:center;
    background-color: #344e41;
}
.info-text{
    margin:auto;
    font-family: Garamond;
}
.info h2{
    font-size:8rem;
   
}
.info p{
    font-size:3.3rem;
    
}
.types img{
    height:51rem;		
    object-fit: cover;
    display:block;
    border-radius:0 2% 2% 2%;
}
.types{
    display:flex;
    flex-flow:nowrap;
    align-content: space-between;
    text-align:center;
    background-color: #344e41;
}
.types-text{
    margin:auto;
    font-family: Garamond;
}
.types h2{
    font-size:8.5rem;
}
.types p{
    font-size:3.4rem;
}
/* footer section*/
footer{
    color:#dad7cd
}
.join{
    text-align: center;
}
/* About Style */

.about-team{
    margin:5% 5% 0% 5%;
    border-radius: 2%;
    font-family: Garamond;
    text-align: center;
    color:#dad7cd;
    background-color: #588157;
}
.about-team h1{
    font-size: 9rem;
}
.about-team p{
    font-size: 4rem;
}
.team-top{
    display:flex;
    flex-flow:nowrap;
    justify-content: space-evenly;
    text-align:center;
    margin-top:5%;
    color:#dad7cd;
    background-image: url('https://images.unsplash.com/photo-1565027537459-d91c3838e8b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height:60vh;
}
.team-top h3{
    color:#dad7cd;
    background-color: #588157;
}
.team-top p{
    text-align: center;
    background-color: #588157;
    overflow: hidden;
}

.team-top img{
    height:20rem;
    object-fit: cover;	
    display: block;		
    border-radius: 40%;
    border:5px solid #588157;
    margin: 15% 5% 0% 5%;
}
.Chris{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:1% 5% 1% 5%;
}
.Yvette{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:1% 5% 1% 5%;
}
.team-lower{
    display:flex;
    flex-flow:nowrap;
    justify-content: space-evenly;
    text-align:center;
    color:#dad7cd;
    margin-top: 5%;
    background-image: url('https://images.unsplash.com/photo-1565027537459-d91c3838e8b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    height:60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.team-lower h3{
    color:#dad7cd;
    background-color: #588157;
}
.team-lower p{
    text-align: center;
    background-color: #588157;
    overflow: hidden;
}
.team-lower img{
    height:20rem;	
    object-fit: cover;	
    display: block;		
    border-radius: 40%;
    margin:20% 5% 0% 5%;
    border:5px solid #588157;
}
.Tatiana{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:1% 5% 1% 5%;
}
.Rafa{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:1% 5% 1% 5%;
}

@media(max-width:500px){
  /*home section */
  header{
      align-content: center;
  }
  .info{
    display:flex;
    flex-flow: column-reverse;
    text-align:center;
    background-color: #344e41;
}
.types{
    display:flex;
    flex-flow:wrap;
    align-content: space-between;
    text-align:center;
    background-color: #344e41;
}
/* about section */
.team-top{
    display:flex;
    flex-flow:column;
    justify-content: space-evenly;
    text-align:center;
    margin-top:5%;
    color:#dad7cd;
    background-image: url('https://images.unsplash.com/photo-1498079863937-6189ac1242c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height:60vh;
}
.team-lower{
    display:flex;
    flex-flow:column;
    justify-content: space-evenly;
    text-align:center;
    color:#dad7cd;
    margin-top: 0%;
    background-image: url('https://images.unsplash.com/photo-1524070960420-47602852d30f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');
    height:60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
}